/*Basic forms*/

.form * {
  box-sizing: border-box;
}

.form button,
.form input,
.form optgroup,
.form select,
.form textarea {
  margin: 0;
  font-size: 100%;
  line-height: 1.15;
}

.form button,
.form input {
  overflow: visible;
}

.form [type=checkbox],
.form [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

form.form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

form.form label {
  font-weight: 600;
  color: #272928;
}

.form .form-control,
.form .form-select {
  min-height: 34px;
  padding: 9.5px 14px;
  font-family: inherit;
  font-size: 13px;
  line-height: 20px;
  color: #888;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid;
  border-color: #fff;
  border-radius: .28571429rem;
  outline: none;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color .1s ease, border-color .1s ease;
}

.form .form-select {
  display: inline-block;
  max-width: 100%;
  min-height: 34px;
  -webkit-appearance: none;
  padding-right: 24px;
  padding-right: 8px \9;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") no-repeat right 8px center;
  background-image: none \9;
  background-size: 8px 10px;

     -moz-appearance: none;
          appearance: none;
}

.form .form-control.focus,
.form .form-control:focus,
.form .form-select.focus,
.form .form-select:focus {
  border-color: #d76713;
  outline: none;
  box-shadow: none;
}

.form .input-contrast {
  background-color: #fafbfc;
}

.form .input-contrast:focus {
  background-color: #fff;
}

.form .input-sm {
  min-height: 28px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
  line-height: 20px;
}

.form .input-lg {
  padding: 4px 10px;
  font-size: 16px;
}

.form .input-block {
  display: block;
  width: 100%;
}

.form .form-checkbox {
  padding-left: 20px;
  margin: 15px 0;
  vertical-align: middle;
}

.form .form-checkbox label {
  margin-bottom: 0;
}

.form .form-checkbox input[type=checkbox],
.form .form-checkbox input[type=radio] {
  float: left;
  margin: 5px 0 0 -20px;
  vertical-align: middle;
}

.form .form-checkbox .note {
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  color: #586069;
}

.form .form-checkbox-details {
  display: none;
}

.form .form-radio {
  margin-bottom: 8px;
}

.form .form-radio input[type="radio"] {
  margin-right: 4px;
}

.form .form-radio-group:before,
.form .form-radio-group:after {
  display: table;
  content: " ";
}

.form .form-radio-group:after {
  clear: both;
}

.form .form-radio-group {
  *zoom: 1;
}

.form .form-radio-group .radio-input {
  z-index: 3;
  float: left;
  margin: 12px -35px 0 14px;
}

.form .form-radio-group .radio-label {
  float: left;
  padding: 12px 14px 12px 35px;
  margin-left: -1px;
  font-size: 13px;
  font-weight: 600;
  color: #272928;
  cursor: pointer;
  border: 1px solid #aaaba3;
}

.form .form-radio-group :checked + .radio-label {
  position: relative;
  z-index: 1;
  color: #d76713;
  border-color: #d76713;
}

.form .form-radio-group .radio-label:first-of-type {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form .form-radio-group .radio-label:last-of-type {
  margin-right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form .form-actions::before {
  display: table;
  content: "";
}

.form .form-actions::after {
  display: table;
  clear: both;
  content: "";
}

.form .form-actions .btn {
  float: right;
}

.form .form-actions .btn {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  padding: 9.5px 18px;
  font-family: inherit;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(103, 105, 104, .8);
  border: 0;
  border-radius: 2px;

     -moz-appearance: none;
          appearance: none;
}

.form .form-actions .btn:hover {
  background-color: rgba(103, 105, 104, 1);
}

.form .form-actions .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.form .form-actions .btn.btn-primary {
  background-color: #d76713;
}

.form .form-actions .btn.btn-primary:hover {
  background-color: #ab510f;
}

.form .form-actions .btn.primary:hover {
  background-color: #ab510f;
}

.form .form-actions button {
  cursor: pointer;
}

.form .form-actions .btn + .btn {
  margin-right: 5px;
}

.form .form-group,
.form .form-radio-group {
  margin: 0 0 15px 0;
}

.form,
.form .form-group,
.form .form-radio-group,
.form .form-actions {
  font-family: 'Montserrat', sans-serif;
}

.form .form-group .form-control,
.form .form-group .form-select {
  width: 100%;
  max-width: 100%;
  margin-right: 5px;
}

.form .form-group .form-control:focus,
.form .form-group .form-select:focus {
  background-color: #fff;
}

.form .form-group .form-checkbox label {
  margin-bottom: 0;
}

.form .form-group label {
  position: relative;
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 13px;
}

.form .note {
  min-height: 17px;
  margin: 4px 0 2px;
  font-size: 12px;
  color: rgba(40, 42, 41, .60);
}

.form .form-grid {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.form .form-grid .form-grid-inner {
  display: flex;
  margin-left: -15px;
  flex-direction: row;

  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.form .form-grid .form-grid-inner .form-group {
  display: flex;
  padding-left: 15px;
  flex-direction: column;

  justify-content: center;
  flex: 0 0 50%;
}

@media (max-width: 768px) {
  .form .form-group,
  .form .form-grid .form-grid-inner {
    display: block;
  }
  .form .form-grid .form-grid-inner .form-group {
    display: block;
    width: 100%;
  }
}

.form ::-webkit-input-placeholder {
  color: rgba(40, 42, 41, .40);
}

.form ::-moz-placeholder {
  color: rgba(40, 42, 41, .40);
}

.form :-ms-input-placeholder {
  color: rgba(40, 42, 41, .40);
}

.form ::placeholder {
  color: rgba(40, 42, 41, .40);
}

/*Floating labels*/
/*https://github.com/geminilabs/float-labels.js*/

.fl-form.fl-style-2 input.fl-input,
.fl-form.fl-style-2 select.fl-select,
.fl-form.fl-style-2 textarea.fl-textarea {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  border-color: #fff;
}
.fl-form.fl-style-2 input.fl-input:focus,
.fl-form.fl-style-2 select.fl-select:focus,
.fl-form.fl-style-2 textarea.fl-textarea:focus {
  border-color: #d76713;
}
.fl-form.fl-style-2 label.fl-label {
  font-size: 11px;
  font-weight: 500;
  color: #676968;
}
.fl-form.fl-style-2 .fl-has-focus label.fl-label {
  color: #d76713;
}
