header {
  background-color: #e0e2d7;
}

.swatch-shark {
  background-color: #272928;
}

.swatch-choclete {
  background-color: #d76713;
}

.swatch-rainee {
  background-color: #aebdaf;
}

.swatch-black-haze {
  background-color: #e0e2d7;
}
