header {
  background-color: #e0e2d7;
}

/*black*/

.swatch-dim-gray {
  background-color: #676968;
}

.swatch-shark {
  background-color: #272928;
}

.swatch-dark-jungle {
  background-color: #1f201f;
}

/*primary*/

.swatch-choclete {
  background-color: #d76713;
}

.swatch-rich-gold {
  background-color: #ab510f;
}

/*background*/

.swatch-black-haze {
  background-color: #e0e2d7;
}

.swatch-cararra {
  background-color: #eef0e5;
}

/*alternative*/

.swatch-rainee {
  background-color: #aebdaf;
}
