/* doc styles */

html,
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #e0e2d7;
}

a {
  color: #D76713;
}

a:hover {
  color: #AB510F;
}

footer {
  background-color: rgba(103, 105, 104, .8);
  /*#676968 80%*/
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

/*black*/

.swatch-dim-gray {
  background-color: #676968;
}

.swatch-shark {
  background-color: #272928;
}

.swatch-dark-jungle {
  background-color: #1f201f;
}

/*primary*/

.swatch-choclete {
  background-color: #d76713;
}

.swatch-rich-gold {
  background-color: #ab510f;
}

/*background*/

.swatch-black-haze {
  background-color: #e0e2d7;
}

.swatch-cararra {
  background-color: #eef0e5;
}

/*alternative*/

.swatch-rainee {
  background-color: #aebdaf;
}

/* background colors */

.bg-cararra {
  background-color: #eef0e5;
}

.bg-black-haze {
  background-color: #E0E2D7;
}

/* basic flex grid */

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-row .flex-cell {
  padding: 0 0 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex-row .flex-cell:first-child {
  padding: 0;
}
